<div class="comments box m-3">
  {{#each this}}
  <section class="comment">
    <div class="text">
      {{comment_text}}
    </div>
    <div class="meta">
      <p>
        <strong>
          {{user.username}}
        </strong>
        on {{format_date created_at}}
      </p>
    </div>


    {{!-- <a>Edit</a>
    <a>Delete</a> --}}


  </section>
  {{/each}}
</div>