<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>TechTopics</strong> by <a href="https://jgthms.com">Emily Mayeski</a>. View the source code on
            <a href="https://github.com/EmilyNecciai/tech-topics">Github</a>.
        </p>
    </div>
</footer>
