{{> post-info post}}

{{#if loggedIn}}

<div class="box m-3">
  <article class="media">

    <form class="comment-form">

      <div class="media-content">
        <div class="field">
          <p class="control">
            <textarea class="textarea" name="comment-body"></textarea>
          </p>
        </div>

        <div class="field">
          <p class="control">
            <button type="submit" class="button">Add Comment</button>
          </p>
        </div>
      </div>

    </form>
  </article>

</div>


{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}