{{> post-info post}}

{{#if loggedIn}}
<div class="box m-3">
  <form class="comment-form m-3">
    <textarea class="textarea" name="comment-body"></textarea>
    <button type="submit" class="button mt-3 is-primary">Add Comment</button>
  </form>
</div>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}